body {
  font-family: 'Roboto Slab', serif;
  background: white;
  text-align: center;
}

#board {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background: #222;
  border-radius: 10px;
  box-shadow:0 2px 5px 1px #111;
  overflow: hidden;
}

#board .column {
  width: 100px;
  height: 100%;
  float: left;
}

#board .square {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100%;
  background: white;
  text-align: center;
  text-indent: -9999px;
  border: 10px solid #333;
  box-sizing: border-box;
  overflow: hidden;
}

#board input {
  display: block;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 100%;
  background: white;
  text-align: center;
  text-indent: -9999px;
  outline: none;
}

#board .red {
 background: red;
}

#board .yellow {
  background: yellow;
}